.wrapper {
  padding: 0 0 6%;
  box-sizing: border-box;
  width: 65%;
  margin: 0 auto;
}

.numbers {
  margin: 0 0 7%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 25px;
}

.text {
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  color: #ffffff;
  margin: 0;
}

.link {
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 133%;
  text-align: right;
  color: #0eb78c;
  text-decoration: none;
  margin: 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  width: 100%;

  div {
    width: calc((100% / 6) - ((25px * 5) / 6));
  }
}
