.wrapper {
  width: 90%;
  margin: 1% auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.wrapperBox {
  position: relative;

  &::after {
    z-index: -1;
    background: #3C3C3C;
    opacity: 0.2;
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.title {
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 133%;
  color: #0eb78c;
}

.text {
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
}

.item {
  padding: 0;
  list-style: none;
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.fisrtPart {
  width: 48%;
}

.secondPart {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}

@media (max-width: 1200px) {
  .fisrtPart {
    width: 50%;
  }
  .title {
    font-size: 28px;
  }

  .text {
    font-size: 16px;
  }
  .secondPart {
    width: 45%;
  }
  .item {
    font-size: 16px;
  }
}

@media (max-width: 996px) {
  .item {
    font-size: 15px;

    img {
      width: 65px;
      height: 65px;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
    padding: 40px 0;
    row-gap: 25px;
  }
  .fisrtPart {
    width: 100%;
  }
  .title {
    text-align: center;
  }
  .text {
    text-align: center;
  }
  .secondPart {
    width: 100%;
  }
  .item {
    flex-direction: column;
    row-gap: 10px;
  }
}

@media (max-width: 576px) {
  .text {
    font-size: 15px;
  }
  .title {
    font-size: 26px;
  }
}

@media (max-width: 425px) {
  .text {
    font-size: 14px;
  }
  .title {
    font-size: 23px;
  }
}