.wrapper {
  width: 90%;
  margin: 1% auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.wrapperBox {
  position: relative;

  &::after {
    background: #3C3C3C;
    opacity: 0.2;
    content: '';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.title {
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 133%;
  color: #0eb78c;
}

.text {
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  /* or 26px */

  font-feature-settings: "pnum" on, "lnum" on;

  color: #ffffff;
}

.item {
  padding: 0;
  list-style: none;
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  margin: 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 83px;
    height: 83px;
    background-image: url("../../../assets/icons/before.svg");
    left: -35px;
    top: 50%;
    transform: translate(-100%, -50%);
  }
}

.fisrtPart {
  width: 48%;
}

.secondPart {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 110px;
}