.wrapper {
  box-sizing: border-box;

  position: absolute;
  width: 1482px;
  height: 165.15px;

  background: linear-gradient(
    253.09deg,
    rgba(217, 217, 217, 0.25) -7.53%,
    rgba(217, 217, 217, 0) 97.04%
  );
  backdrop-filter: blur(50px);
  /* Note: backdrop-filter has minimal browser support */

  transform: matrix(-1, 0.05, 0.05, 1, 0, 0);
  margin-top: 10%;
}
