.wrapper {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  width: 100%;
  height: 165.15px;

  background: linear-gradient(
    253.09deg,
    rgba(217, 217, 217, 0.25) -7.53%,
    rgba(217, 217, 217, 0) 97.04%
  );
  /* Note: backdrop-filter has minimal browser support */
  padding: 5%;
  margin-top: 10%;
  transform: matrix(-1, 0.05, 0.05, 1, 0, 0);
}
.content {
  display: flex;
  div {
    margin-left: 10%;
    img{
        transform: none;
    }
  }
}
