.wrapper {
  padding: 9% 0 6%;
  overflow: hidden;
}

.title {
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 133%;
  color: #0eb78c;
}

p {
  color: #ffff;
}

.content {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.mediaBox {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin: 6.5% 0 0;
}

.seconPart {
  width: 50%;

  img {
    width: 80%;
  }
}

.rezak {
  position: absolute;
  right: 1%;
  bottom: -5%;
  transform: rotate(-180deg);
}