.wrapper {
  padding: 7% 0 6%;
  overflow: hidden;
}

.fisrtPart {
  width: 52.6%;
}

.title {
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 133%;
  color: #0eb78c;
  margin: 0 0 11px;
}

.text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 144%;
  color: #FFFFFF;
}

.content {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.mediaBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 30px;
  margin: 6.5% 0 0;
  width: 35%;

  p {
    width: calc(100% / 2 - 20px);
  }
}

.secondPart {
  width: 50%;

  img {
    width: 70%;
  }
}

.rezak {
  position: absolute;
  right: 1%;
  bottom: -5%;
  transform: rotate(-180deg);
}

@media (max-width: 1200px) {
  .title {
    font-size: 24px;
  }
  .text {
    font-size: 16px;

    br {
      display: none;
    }
  }
}