.box {
  background: #3B3C4E;
  border-radius: 20px;
  padding: 40px 0;
  display: flex;
  justify-content: center;

  input {
    border: none;
    background: none;
    width: 80%;
    outline: none;
  }
}

.number {
  font-family: 'Evolventa', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: #0EB78C;
  margin: 0;
  text-align: center;
}