.rezak {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, 20%) rotate(-90deg) scale(-1);
}

.rezak2 {
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 8%;
}

.praphic {
  position: relative;
  left: -7%;
  height: 100%;
}

.charBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::after {
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #3C3C3C;
    opacity: 0.2;
  }

  &::before {
    z-index: 3;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
  }
}

.wrapper {
  margin: 10% auto 0;
  position: relative;
  overflow: hidden;
}

.title {
  width: 90%;
  margin: 0 auto 4.4%;
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  color: #0eb78c;
}


@media (max-width: 1200px) {
  .title {
    font-size: 36px;
  }
  .rezak {
    width: 15%;
  }

  .praphic {
    width: 70%;
  }
}


@media (max-width: 996px) {
  .title {
    font-size: 34px;
  }
}


@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }

  .rezak, .rezak2 {
    display: none;
  }

  .charBox {
    padding: 0 0 50px;
  }

  .praphic {
    width: 60%;
    position: static;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 26px;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 24px;
  }
  .charBox {
    width: 100%;
  }
  .praphic {
    width: 90%;
  }
}