.char {
  width: 500px;
  margin-top: 50px;
}
.wrapper {
  margin-top: 90px;
}
.title {
  font-family: "Evolventa";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  /* or 53px */
  margin-left: 200px;
  color: #0eb78c;
}
