.wrapper {
  margin: 5.8% 0 0;
  padding: 2.5% 0;
  position: relative;
  overflow: hidden;

  &::after {
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #3C3C3C 0%, rgba(60, 60, 60, 0) 100%);
    opacity: 0.5;
  }
}

.rezak {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(35%, 50%) rotate(-200deg);
}

.text {

  p {
    text-align: center;
    margin: 0 auto;
    font-family: "Evolventa", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    width: 51%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
  }

  h1 {
    margin: 0 0 15px;
    text-align: center;
    font-family: "Evolventa", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 133%;
    color: #0eb78c;
  }
}

.subtitle {
  font-family: 'Evolventa', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  width: 55%;
  margin: 30px auto 0;
}

@media (max-width: 1200px) {
  .text {
    h1 {
      font-size: 36px;
    }

    p {
      font-size: 16px;
      width: 70%;
    }
  }

  .subtitle {
    font-size: 16px;
    width: 70%;
  }

  .rezak {
    width: 15%;
    top: 55%;
  }
}

@media (max-width: 996px) {
  .text {
    h1 {
      font-size: 34px;
    }

    p {
      width: 80%;
    }
  }

  .subtitle {
    font-size: 16px;
    width: 80%;
  }

  .rezak {
    width: 15%;
    top: 55%;
  }
}

@media (max-width: 768px) {
  .text {
    h1 {
      font-size: 30px;
    }
  }
  .rezak {
    display: none;
  }
}

@media (max-width: 576px) {
  .wrapper {
    padding: 5% 0;
  }
  .text {
    h1 {
      font-size: 26px;
    }

    p {
      font-size: 15px;
      width: 95%;
    }
  }
  .rezak {
    display: none;
  }
  .subtitle {
    font-size: 15px;
    width: 95%;
  }
}

@media (max-width: 425px) {
  .text {
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
    }
  }
  .subtitle {
    font-size: 14px;
  }
}