.wrapper {
  margin-top: 80px;
}
.text {
  color: #fff;
  text-align: center;
  p {
    width: 845px;
    height: 104px;
    font-family: "Evolventa";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    /* or 26px */
    margin-left: 260px;
    font-feature-settings: "pnum" on, "lnum" on;

    color: #ffffff;
  }
  h1 {
    font-family: "Evolventa";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 133%;
    /* or 53px */

    color: #0eb78c;
  }
}
.content {
  height: 100vh;
}
