.addressBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.addressText {
  font-family: 'Evolventa', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  width: 20%;
}

.box {
  padding: 1% 0;
  border-top: 1px solid #0EB78C;
  box-sizing: border-box;
}

.thank {
  font-family: 'Evolventa', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.text {
  font-family: 'Evolventa', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #C8C8C8;
}

@media (max-width: 1200px) {
  .addressBox {
    width: 90%;

    input {
      width: 65%;
    }

    div {
      justify-content: flex-end;
      column-gap: 50px;
    }
  }
  .addressText {
    white-space: nowrap;
    font-size: 16px;
  }

  .thank {
    font-size: 18px;

    img {
      width: 75px;
      height: 75px;
    }
  }
  .text {
    font-size: 14px;
  }
}

@media (max-width: 996px) {
  .addressBox {
    width: 98%;

    div {
      column-gap: 20px;
    }
  }
  .thank {
    margin: 15px 0;
  }
}

@media (max-width: 768px) {
  .addressBox {
    flex-direction: column;

    div {
      width: 100%;
      column-gap: 10px;
    }

    input {
      width: 100%;
    }
  }

  .addressText {
    width: auto;
  }

  .thank {
    margin: 10px 0;
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .addressBox {
    div {
      flex-direction: column;
      row-gap: 20px;
      column-gap: 10px;
    }

    input {
      width: 80%;
    }

    button {
      width: 80%;
      text-align: center;
      justify-content: center;
    }
  }

  .thank {
    margin: 10px 0;
    font-size: 15px;
  }

  .text {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .addressBox {
    div {
      row-gap: 10px;
    }
    p {
      font-size: 14px;
    }

    input {
      width: 95%;
    }

    button {
      width: 95%;
    }
  }

  .thank {
    font-size: 14px;
  }
}