.content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 13px 0 65px;
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  text-align: center;
  color: #0eb78c;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textTable {
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
  padding: 4% 2%;
  background: linear-gradient(
                  253.09deg,
                  rgba(14, 184, 139, 0.25) -7.53%,
                  rgba(15, 184, 141, 0.25) 97.04%
  );
  border-radius: 30px;

  p {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
  }
}

.p {
  margin: 18px 0 !important;
}

.text {
  margin: 3% 0;
  font-family: "Evolventa", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 144%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffff;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  img {
    width: 77px;
    height: 77px;
    display: block;
    margin: 0 auto;
  }
}

.walletsBlock {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
