.wrapper {
  margin-top: 5%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  margin-top: 5%;
  font-family: "Evolventa";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  /* or 53px */

  text-align: center;

  background: linear-gradient(92.75deg, #f77fbd 0%, #ff1791 101.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-items: center;
  justify-content: center;
}
.textTable {
  width: 994px;

  padding: 5% 6%;

  background: linear-gradient(
    253.09deg,
    rgba(247, 127, 189, 0.25) -7.53%,
    rgba(255, 23, 145, 0.25) 97.04%
  );
  backdrop-filter: blur(
    50px
  ); /* Note: backdrop-filter has minimal browser support */
  height: 345px;

  border-radius: 30px;
  p {
    margin-top: 5%;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    /* or 26px */

    font-feature-settings: "pnum" on, "lnum" on;

    color: #ffffff;
  }
}
.text {
  margin-top: 4%;
  font-family: "Evolventa";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 144%;
  /* or 29px */

  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;

  color: #fb59ad;
}
.intro {
  h1 {
    margin-left: -100px;
  }
}
.walletsBlock {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 45px;
}
