.wrapper {
  margin: 7% 0;
}

.title {
  font-family: 'Evolventa', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  color: #0EB78C;
  text-align: center;
  margin: 0 0 3.75%;
}

.box {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.rezak {
  position: absolute;
  right: -10%;
  bottom: 0;
  transform: translate(100%, 30%) rotate(-60deg);
  width: 15%;
}