.wrapper {
  margin: 7% 0;
  overflow: hidden;
}

.title {
  font-family: 'Evolventa', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  color: #0EB78C;
  text-align: center;
  margin: 0 0 3.75%;
}

.box {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.rezak {
  position: absolute;
  right: -10%;
  bottom: 0;
  transform: translate(100%, 30%) rotate(-60deg);
  width: 15%;
}

@media (max-width: 1200px) {
  .title {
    font-size: 36px;
  }
  .box {
    width: 70%;
  }
}

@media (max-width: 996px) {
  .title {
    font-size: 34px;
  }
  .box {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
  }
  .box {
    width: 90%;

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 26px;
  }
  .box {
    width: 95%;

    h3 {
      font-size: 17px;
    }

    p {
      font-size: 17px;
    }
  }
}

@media (max-width: 425px) {
  .title {
    font-size: 24px;
  }
  .box {
    width: 95%;

    h3 {
      font-size: 16px;
    }

    p {
      font-size: 16px;
    }
  }
}